:root {
    --header-height: 4.82rem;
    --header-backdrop-filter: unset;
    --header-background-color: rgba(var(--grey-rgb), 1);
    --header-box-shadow: 2.7461934089660645px 2.7461934089660645px 1.8307956457138062px 0px rgba(255, 255, 255, 0.03)
            inset,
        -1.8307956457138062px 0px 1.8307956457138062px 0px rgba(255, 255, 255, 0.2) inset;
    --header-padding-y: 1.56rem;
    --header-padding-x: 0;
}

.header {
    position: fixed;
    z-index: 10;
    display: block;
    width: 100%;
    height: var(--header-height);
    right: 0;
    padding: var(--header-padding-y) var(--header-padding-x);
    background-color: var(--header-background-color);
    backdrop-filter: var(--header-backdrop-filter);
    box-shadow: var(--header-box-shadow);
    overflow: hidden;
    animation: show-in-bottom 0.6s ease backwards;
    transition: all 0.6s ease;
    &-inner {
        display: block;
        width: 100%;
        margin: auto;
        & > .row {
            --bs-gutter-x: 0.5rem;
            --bs-gutter-y: 0.5rem;
            align-items: center;
        }
    }
    &-side {
        display: flex;
        align-items: center;
        &-left {
            row-gap: 1.25rem;
            column-gap: 1.25rem;
        }
        &-right {
            row-gap: 1.25rem;
            column-gap: 1.25rem;
        }
    }
    &-progress {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.02rem;
        transform: translate(-50%, -50%);
    }
    & .progress {
        width: 10rem;
    }
}
